*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: black;
    --subColor: #c1ab84;
    --mainFont: font-family: "Cormorant Garamond", serif;
    --subFont: font-family: "Macondo", cursive;
}
a{
    text-decoration: none;
    color: black;
}
/*Header*/
header{
    background-image: url(image/restaurantBackground.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.663);
    color: black;
}
nav .container{
    display: flex;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
nav .container .start{
    width: 30%;
}
nav img{
    width: 100px;
    height: 80px;
}
nav .container .end{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.navList{
    width: 100%;
}
.navList ul{
    display: flex;
    justify-content: space-between;
}
.navList ul li{
    list-style: none;
}
.Head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    height:100vh;
    color: white;
    gap: 20px;
}
.Head img{
    width: 400px;
    height: 200px;
}
.Head h1{
    font-size: 60px;
    font-weight: 200;
    font-family: var(--mainFont);
}
.Head p{
    font-family: var(--subFont)
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button button{
    padding: 15px;
    border-radius: 10px;
}
.button button:first-of-type{
    background-color: #be9e66;
}
button:hover{
    background-color: #c1ab84;
    animation-name: example;
    animation-duration: 5s;
}
@keyframes example{
    from{background-color: #c1ab84;}
    to{background-color: white;}
}
/*end of Header*/

/*info section*/
.info{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.info .container{
    display: flex;
    justify-content: center;
}
.InfoImage{
    display: flex;
    justify-content: center;
    width: 50%;
}
.DataInformation{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.DataInformation ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.DataInformation li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.DataInformation ul li .item i{
    background-color: #c1ab84;
    border-radius: 50%;
    padding: 15px;
}
.info p{
    color: black;
}
.DataInformation h2{
    font-size: 40px;
    font-weight: 200;
    font-family: var(--mainFont);
}
.DataInformation .pa{
    color:#c1ab84;
    font-size: 25px;
    font-family: var(--subFont);
}
.DataInformation .pb{
    font-family: var(--mainFont);
    font-weight: 100;
}
@media (max-width: 1000) {
    .InfoImage{
        width: 100%;
        height: 80%;

    }
    .DataInformation ul li .item{
        width: 30px;
        height: 30px;
        display: flex;

    }
}
/*end of info Section*/

/*review section*/
.InfoImageREV img{
    width: 500px;
    height: 400px;
}
.InfoImageREV{
    display: flex;
    justify-content: center;
}
.Review{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.Review .container{
    display: flex;
    justify-content: center;
}
.DataInformationREV{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.DataInformationREV ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.DataInformationREV li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Review p{
    color: black;
}
.DataInformationREV h2{
    font-size: 40px;
    font-weight: 200px;
    font-family: var(--mainFont);
}
.DataInformationREV .pa{
    color:#c1ab84;
    font-size: 25px;
    font-family: var(--subFont);
}
.DataInformationREV .pb{
    font-family: var(--mainFont);
    font-weight: 100;
}
/*end of review section*/

/*image section*/
.IMage{
    background-image: url(image/restaurantIMage.jpg);
    height: 50vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/*end of image section*/

/*dish section*/
.dishes{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    white-space: pre-line;
}
.dishes .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.dishType{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.dish{
    width: 30%;
}
.dish img{
    width: 300px;
    border-radius: 5px;
}
.dishes h2{
    font-size: 45px;
    font-weight: 200;
    font-family: var(--subFont);
}
.dish .pa{
    color: var(--mainColor);
    font-size: 25px;
}
.dishes button{
    padding: 10px;
    background-color: var(--subColor);
    border-radius: 5px;
}
/*end of dish section*/

/*testimonial section*/
.testimonial{
    color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-image: url(image/restaurantBackground.jpg);
    background-position: top;
}
.testimonial i{
    font-size: 25px;
}
.testimonial h3{
    font-size: 17px;
}
.testimonial .pa{
    text-align: center;
    width: 40%;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 15px;
    padding-top: 15px;
}
.testimonial .pb{
    font-size: 12px;
    padding-bottom: 15px;
}
/*end of testimonial section*/

/*footer*/
footer i{
    color: #969696;
}
footer{
    background-color: #353330;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #969696;
}
footer h3{
    color: white;
}
footer ul li{
    border-bottom: 2px solid #12110f;
}
ul li:last-of-type{
    border-bottom: none;
}
footer .MainFooter{
    display: flex;
    justify-content: center;
    background-color: #403d38;
    padding-top: 40px;
    padding-bottom: 40px;
}
.subMainFooter{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer .MainFooter .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.FooterSec1, .FooterSec4{
    width: 25%;
}
.FooterSec4 img{
    width: 250px;
    height: 250px;
    position: absolute;
    opacity: 0.05;
}
footer .SubFooter{
    display: flex;
    justify-content: center;
    background-color: #353330;
    padding-bottom: 20px;
}
footer .SubFooter .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.icons .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #484540;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icons .icon i{
      font-size: 40px;  
    color: #8c8a86;
}
footer .SubFooter .container img{
    width: 400px;
    height: 200px;
}
footer ul li a{
    color: #969696;
}
.FooterSec4 ul li{
    display: flex;
    gap: 10px;
}
.subMainFooter{
    gap: 70px;
}
/*end of footer*/
@media (max-width:1000px){
    nav{
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.507);
        color: black;
    }
    nav .container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 200px;
    }
    nav img{
        height: 50px;
        width: 80px;
    }
    nav ul{
        gap: 10px;
    }
    .InfoImage{
        width: 200px;
        height: 400px;
    }
    .DataInformation{
        display: flex;
        gap: 30px;
    }
    .info{
        display: flex;
        justify-content: center;
    }
    .info .container{
        display: flex;
        justify-content: center;
    }
    .InfoImage{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .DataInformation{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .DataInformation ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .DataInformation li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .DataInformation ul li .item i{
        background-color: #c1ab84;
        border-radius: 50%;
        padding: 5px;
    }
    .info p{
        color: black;
    }
    .DataInformation h2{
        font-size: 20px;
        font-weight: 200;
        font-family: var(--mainFont);
    }
    .DataInformation .pa{
        color:#c1ab84;
        font-size: 15px;
        font-family: var(--subFont);
    }
    .DataInformation .pb{
        font-family: var(--mainFont);
        font-weight: 100;
    }
    /*review*/
    .InfoImageREV img{
        width: 200px;
        height: 200px;
    }
    .InfoImageREV{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Review{
        display: flex;
        justify-content: center;
        height: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: whitesmoke;
    }
    .Review .container{
        display: flex;
        justify-content: center;
    }
    .DataInformationREV{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    .DataInformationREV ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .DataInformationREV li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .DataInformationREV li i{
        font-size: 15px;
    }
    .Review p{
        color: black;
        font-size: 15px;
    }
    .DataInformationREV h2{
        font-size: 20px;
        font-weight: 200px;
        font-family: var(--mainFont);
    }
    .dishes h2{
        font-size: 20px;
    }
    .DataInformationREV .pa{
        color:#c1ab84;
        font-size: 15px;
        font-family: var(--subFont);
    }
    .dishes .pa{
        font-size: 15px;
    }
    .DataInformationREV .pb{
        font-family: var(--mainFont);
        font-weight: 100;
    }
    /*dishes*/
    .dishes{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-top: 20px;
    }
    p{
        white-space: pre-line;
    }
    .dishes .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    .dishType{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .dish{
        width: 30%;
    }
    .dish img{
        width: 200px;
        border-radius: 5px;
    }
    .dishes h2{
        font-size: 45px;
        font-weight: 200;
        font-family: var(--subFont);
    }
    .dish .pa{
        color: var(--mainColor);
        font-size: 17px;
    }
    .dishes button{
        padding: 5px;
        background-color: var(--subColor);
        border-radius: 5px;
    }
    /*footer*/
    .FooterSec4 img{
        width: 200px;
        height: 200px;
        position: absolute;
        opacity: 0.05;
    }
    .MainFooter{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .MainFooter .container{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .FooterSec1{
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .subMainFooter{
        width: 100%;
    }
    .subMainFooter ul{
        list-style: none;
    }
    .icons .icon {
        height: 30px;
        width: 30px;
    }
    .icons .icon i {
        font-size: 20px;
    }
    .SubFooter .pa{
        font-size: 10px;
    }
}
@media (max-width: 600px){

    /*header*/
    header{
        height: 70vh;
    }
    .Head{
        height: 70vh;
    }
    .Head img{
        width: 200px;
        height: 100px;
    }
    .Head h1 {
        font-size: 40px;
        font-weight: 100;
    }
    .button button {
        padding: 7px;
        border-radius: 5px;
    }
    .navList ul li{
        list-style: none;
        font-size: 10px;
    }
    .navList ul{
        gap:3px;
    }
    nav .container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 80px;
    }
    nav img{
        width: 60px;
        height: 50px;
    }
    /*info*/
    .DataInformation{
        display: flex;
        gap: 30px;
    }
    .info{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .InfoImage img{
        height: 250px;
        width: 200px;
    }
    .info .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .InfoImage{
        display: flex;
        justify-content: center;
        height: 250px;
        width: 200px;
    }
    .DataInformation{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .DataInformation ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .DataInformation li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .DataInformation ul li .item i{
        background-color: #c1ab84;
        border-radius: 50%;
        padding: 5px;
    }
    .info p{
        color: black;
    }
    .DataInformation h2{
        font-size: 20px;
        font-weight: 200;
        font-family: var(--mainFont);
    }
    .DataInformation .pa{
        color:#c1ab84;
        font-size: 15px;
        font-family: var(--subFont);
    }
    .DataInformation .pb{
        font-family: var(--mainFont);
        font-weight: 100;
    }
    /*review*/
    .InfoImageREV img{
        width: 100%;
        height: 100;
    }
    .InfoImageREV{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Review{
        display: flex;
        justify-content: center;
        height: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 0px;
    }
    .Review .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .DataInformationREV{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    .DataInformationREV ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .DataInformationREV li{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .DataInformationREV li i{
        font-size: 15px;
    }
    .Review p{
        color: black;
        font-size: 15px;
    }
    .DataInformationREV h2{
        font-size: 20px;
        font-weight: 200px;
        font-family: var(--mainFont);
    }    
    /*dishes*/
    .dishes h2{
        font-size: 20px;
    }
    .DataInformationREV .pa{
        color:#c1ab84;
        font-size: 15px;
        font-family: var(--subFont);
    }
    .dishes .pa{
        font-size: 15px;
    }
    .DataInformationREV .pb{
        font-family: var(--mainFont);
        font-weight: 100;
    }
    .dishes{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    p{
        white-space: pre-line;
    }
    .dishes .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    .dishType{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .dish{
        width: 30%;
    }
    .dish img{
        width: 100px;
        border-radius: 5px;
    }
    .dishes h2{
        font-size: 45px;
        font-weight: 200;
        font-family: var(--subFont);
    }
    .dish h4{
        font-size: 12px;
    }
    .dish .pa{
        color: var(--mainColor);
        font-size: 12px;
    }
    .dishes button{
        width: 100px;
        padding: 3px;
        background-color: var(--subColor);
        font-size: 12px;
        border-radius: 5px;
    }
    /*testemonial*/
    .testimonial i{
        font-size: 12px;
    }
    .testimonial{
        color: white;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2px;
        background-image: url(image/restaurantBackground.jpg);
        background-position: top;
    }
    .testimonial h3{
        font-size: 10px;
    }
    .testimonial h5{
        font-size: 10px;
    }
    .testimonial .pa{
        text-align: center;
        width: 80%;
        font-size: 13px;
        font-weight: 200;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .testimonial .pb{
        font-size: 10px;
        padding-bottom: 3px;
    }
    /*footer*/
    .FooterSec4 img{
        width: 90px;
        height: 90px;
        position: absolute;
        opacity: 0.05;
    }
    .MainFooter ul{
        font-size: 8.5px;
    }
    .MainFooter p{
        font-size: 12px;
    }
    footer .MainFooter{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #353330;
        height: 50vh;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .MainFooter .container{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .FooterSec1{
        width: 90%;
        justify-content: center;
        text-align: center;
    }
    .sec{
        gap: 10px;
    }
    .subMainFooter{
        width: 100%;
        gap: 40px;
    }
    .subMainFooter h3{
        font-size: 14px;
    }
    footer .SubFooter .container img{
        width: 200px;
        height: 100px;
    }
}
